{% extends "base.html.twig" %}

{% block body %}
	<h1>Bienvenue dans ce blog !</h1>

	<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem sed culpa laudantium pariatur facere quo, impedit ratione nihil hic autem at dolorum, ex vero voluptatibus? Enim officiis ratione tempore omnis debitis quae tenetur expedita mollitia, accusantium ullam, optio adipisci maiores?</p>
	<p>Voluptas dolorem quidem repellat amet deserunt quas impedit aut, laboriosam vel. Accusamus cumque quasi, rerum in excepturi ipsa commodi repellat harum molestiae dolore nisi, deserunt deleniti. Quasi excepturi dignissimos nemo? Distinctio id, dolore aspernatur tenetur maxime nulla! Magnam, sequi quam.</p>

{% endblock %}
